.screen-container {
    display: flex;
}

.current-workout-info-container {
    display: flex;
    flex-direction: column;
}

.log-bar {
    display: flex;
    justify-content: center;
    width: 60vw;
    /* border: 5px;
    border-style: solid; */
    gap: 10px;
}

.clock-img {
    width: 50px;
}

.timer-setting-img {
    width: 30px
}

.clock-modal-title-container {
    display: flex;
    align-items: center;
}

.clock-names {
    display: flex;
    justify-content: space-between;
}

.active-clock {
    background-color: rgb(60, 134, 158);
    color: white;
    width: 400px;
    text-align: center;
}

.nonactive-clock {
    width: 400px;
    text-align: center;
}

.workout-info-bar {
    display: flex;
    justify-content: center;
    width: 60vw;
    /* border: 5px;
    border-style: solid; */
    gap: 10px;
    text-align: center;
}

.exercise-table-container {
    display: flex;
    flex-direction: column;
    /* border: 5px;
    border-style: solid; */
}


.log-cell-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 5px;
    border-style: solid; */
}

.log-cell-header {
    display: flex;
    gap: 10px;
}

.exercise-img {
    width: 100px;;
}

.complete-set {
    background-color: lightgreen;

}

/* .check-button {
    color: ;
} */

/* .incomplete-set {
    background-color: green;
} */


.active-exercise-table {
    display: flex;
    flex-direction: column;
}

.workout-bottom-bar {
    display: flex;
    /* border: 5px;
    border-style: solid; */
}